@import '../../styles.scss';
.navbar{
    background-color:rgb(7, 165, 218) !important;
}
a{ color: white !important;
font-weight: 500;}
.test{
    color: #fff !important;
    border-bottom: 3px solid $bodyBg;
}
*{
    overflow: auto;
}

