$bodyBg:#181824;
$fontFamily:'segoe ui light';
body{
    background-color: $bodyBg;
    font-family: $fontFamily;
}

.test{
    color: #fff !important;
    border-bottom: 3px solid black;
}
.rowOverflow{
    overflow: hidden !important;
}