
<div class="row">
    <div class="col-md-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" routerLinkActive="test" routerLink='/person' role="tab" aria-controls="v-pills-home" >Home</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" routerLinkActive="test" routerLink='/home' role="tab" aria-controls="v-pills-profile" >Profile</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" routerLinkActive="test" routerLink='/tv' role="tab" aria-controls="v-pills-messages">Messages</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" routerLinkActive="test" routerLink='/person' role="tab" aria-controls="v-pills-settings" >Settings</a>
          </div>
    </div>
    <div class="col-md-10">
        <div class="container text-white  mt-5 pt-3">
            <h1 class="text-center py-5">Movies List</h1>
            <div class="row ">
                <div *ngFor="let one of top" class="col-md-6  py-2">
                    <div class="movie">
                    <div class="row " >
                        <div class="col-md-6">
                            <img [src]="imgUrl+one.poster_path" class="img-fluid" alt="img">
                        </div>
                        <div class="col-md-6 movie-info">
                            <div class="avg p-2">{{one.vote_average}}</div>
                            <div class=" mt-5">
                                <h2>{{one.title}}</h2>
                                <p>{{one.overview}}</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
